<link rel="stylesheet" href="{{"css/jquery.flipster.min.css" | relURL }}" />

{{ $baseURL := .Site.BaseURL }}
{{ $staticPath := .Site.Params.static }}
{{ $imageDir := "images" }} 

<div class="splash_main container">
	<div class="row">
		<div id="flat" class="col-lg-12 flipper">
			<ul>
				{{- $files := readDir (print "assets/" .Site.Params.flipperFolder) -}}
				{{- range $files -}}
					{{ $filePath := printf "%s/%s" $.Site.Params.flipperFolder .Name }}
					{{ with $image := resources.Get $filePath }}
							<li><img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt=""></li>
						{{ else }}
							<p>Error: Resource not found for file "{{ $filePath }}"</p>
						{{ end }}
				{{- end -}}
			</ul>
		</div>
	</div>
</div>

